<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org" xmlns:layout="https://ultraq.net.nz/thymeleaf/layout">

<head>
  <meta author="Rafael Serafin Sousa">
  <meta charset="UTF-8">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <script src="/js/mascara.js" defer></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AlergiasCadápio</title>
  <script src="/js/navbar.js" defer></script>
  <script src="/js/dropcad.js" defer></script>
</head>

<body>

  <header th:replace="~{modules/navbar :: navbar}"></header>

  <main>
    <!-- cadastro -->
    <div class="min-h-screen py-30 flex items-center justify-center bg-gradient-to-b from-blue-50 to-white">
      <div class="w-full max-w-md rounded-xl shadow-lg glass overflow-visible"
        style="border-top: 2px solid #FFFFFF75; border-left: 2px solid #FFFFFF75; background: #FFFFFF25; backdrop-filter: blur(4px);">

        <div class="p-8">
          <h2 class="text-3xl mb-4 font-semibold text-cyan-900">Cadastro</h2>
          <p class="mb-4 text-cyan-900">Crie sua conta para continuar</p>

          <form method="post" th:action="@{/cadastrar}">
            <div class="mt-5">
              <input type="text" name="nome" class="border border-gray-400 py-2 px-4 w-full rounded-2xl"
                placeholder="Nome Completo">
            </div>
            <div class="mt-5">
              <input type="text" name="cpf" id="cpf" placeholder="000.000.000-00" maxlength="14" minlength="14"
                class="border border-gray-400 py-2 px-4 w-full rounded-2xl">
            </div>
            <div class="mt-5">
              <input type="email" name="email" placeholder="Email"
                class="border border-gray-400 py-2 px-4 w-full rounded-2xl">
            </div>
            <div class="mt-5">
              <input type="text" name="telefone" id="telefone" placeholder="(00) 00000-0000" maxlength="15"
                minlength="15" class="border border-gray-400 py-2 px-4 w-full rounded-2xl">
            </div>
            <div class="mt-5">
              <input type="text" name="endereco" placeholder="Endereço"
                class="border border-gray-400 py-2 px-4 w-full rounded-2xl">
            </div>
            <div class="mt-5 flex items-center">

              <div class="relative inline-block text-left">
                <button id="dropdownButton"
                  class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-cyan-900 hover:bg-gray-50"
                  type="button">
                  Selecione suas alergias
                  <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                  </svg>
                </button>


                <div class="flex flex-col">
                  <div id="dropdownMenu"
                    class="hidden origin-top-right absolute right-0 mt-2 w-56 rounded-2xl shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none z-10">

                    <div class="py-1">
                      <label class="flex items-center px-4 py-2 hover:bg-gray-100 hover:rounded-2xl  cursor-pointer">
                        <input type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600" name="alergias"
                          value="gluten" />
                        <span class="ml-2 text-gray-700">gluten</span>
                      </label>
                      <label class="flex items-center px-4 py-2 hover:bg-gray-100 cursor-pointer">
                        <input type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600" name="alergias"
                          value="leite" />
                        <span class="ml-2 text-gray-700">leite</span>
                      </label>
                      <label class="flex items-center px-4 py-2 hover:bg-gray-100 cursor-pointer">
                        <input type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600" name="alergias"
                          value="ovos" />
                        <span class="ml-2 text-gray-700">ovo</span>
                      </label>
                      <label class="flex items-center px-4 py-2 hover:bg-gray-100 cursor-pointer">
                        <input type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600" name="alergias"
                          value="amendoin" />
                        <span class="ml-2 text-gray-700">amendoin</span>
                      </label>
                      <label class="flex items-center px-4 py-2 hover:bg-gray-100 cursor-pointer">
                        <input type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600" name="alergias"
                          value="frutosDoMar" />
                        <span class="ml-2 text-gray-700">frutos do mar</span>
                      </label>
                      <label class="flex items-center px-4 py-2 hover:bg-gray-100 cursor-pointer">
                        <input type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600" name="alergias"
                          value="soja" />
                        <span class="ml-2 text-gray-700">soja</span>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="mt-5 flex">
                  <input type="text" name="outraAlergia" placeholder="Alergias"
                    class="border border-gray-400 py-2 px-4 w-full rounded-2xl">
                </div>

              </div>
              <!-- botão -->
            </div>
            <div class="mt-5">
              <button type="submit"
                class="bg-teal-600 hover:bg-teal-700 text-white font-bold py-3 shadow-lg transition-transform transform hover:scale-105 duration-300 w-full text-center rounded-md">Registre-se agora</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </main>

  <footer th:replace="~{modules/footer :: footer}"></footer>

</body>

</html>