<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org" xmlns:layout="https://ultraq.net.nz/thymeleaf/layout">

<head>
  <meta author="Rafael Serafin Sousa">
  <meta charset="UTF-8">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AlergiasCadápio</title>
  <script src="/js/navbar.js" defer></script>
</head>

<body>

  <header th:replace="~{modules/navbar :: navbar}"></header>

  <main class="min-h-screen">
 


    <section class="hero-bg min-h-screen flex items-center justify-center text-cyan-900  bg-gradient-to-b from-blue-50 to-white text-center ">
        <div class="hero-content p-6 md:p-12 max-w-4xl mx-auto">
            <h1 class="text-4xl md:text-6xl font-extrabold leading-tight mb-4 drop-shadow-lg">
                Comer com segurança nunca foi tão fácil.
            </h1>
            <p class="text-lg md:text-xl font-light mb-8 max-w-2xl mx-auto drop-shadow-md">
                No Coma Seguro, você nos diz suas alergias e nós mostramos apenas o que você pode comer. Chega de surpresas e preocupações!
            </p>

            <div class="flex flex-col sm:flex-row justify-center items-center space-y-4 sm:space-y-0 sm:space-x-4 mb-12">
                <a href="/cadastrar" class="bg-teal-600 hover:bg-teal-700 text-zinc-100 font-bold py-3 px-8 rounded-full shadow-lg transition-transform transform hover:scale-105 duration-300">
                    Cadastre-se Agora
                </a>
                <a href="/restaurantes" class="bg-white hover:bg-gray-100 text-teal-600 font-bold py-3 px-8 rounded-full shadow-lg transition-transform transform hover:scale-105 duration-300">
                    Encontre Restaurantes
                </a>
            </div>

            <div class="bg-white bg-opacity-20 backdrop-blur-sm p-6 rounded-xl shadow-lg inline-block">
                <p class="text-lg md:text-xl font-semibold mb-2 text-black">Junte-se a mais de</p>
                <div class="text-4xl md:text-6xl font-extrabold text-black" id="contador-usuarios">0</div>
                <p class="text-lg font-light mt-2">pessoas que comem com segurança conosco!</p>
            </div>
        </div>
        </section>

  
  </main>  
  
  <footer th:replace="~{modules/footer :: footer}"></footer>

</body>
</html>