<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org" xmlns:layout="https://ultraq.net.nz/thymeleaf/layout">

<head>
  <meta author="Rafael Serafin Sousa">
  <meta charset="UTF-8">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/navbar.js" defer></script>
  <title>AlergiasCadápio</title>
</head>

<body>

  <header th:replace="~{modules/navbar :: navbar}"></header>

  <main>
     <section class="flex flex-col items-center justify-center text-center min-h-screen bg-gradient-to-b from-blue-100 to-white">
      <div class="flex flex-row">
        <a href="https://www.ifood.com.br/">
          <img src="img/alergias.jpg" alt="Restaurante" class="h-40 rounded-2xl bg-amber-600">
        </a>
        <a href="">
          <img src="img/alergias.jpg" alt="Restaurante" class="h-40 w-40 rounded-full bg-amber-600">
        </a>
        


      </div>
    </section>
  </main>

  <footer th:replace="~{modules/footer :: footer}"></footer>

</body>

</html>