<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org" xmlns:layout="https://ultraq.net.nz/thymeleaf/layout">

<head>
  <meta author="Rafael Serafin Sousa">
  <meta charset="UTF-8">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/navbar.js" defer></script>
  <title>AlergiasCadápio</title>
</head>

<body>

  <header th:replace="~{modules/navbar :: navbar}"></header>

  <main>
    <section class="p-30">
      <div class="w-full max-w-4xl">
        <div th:if="${#lists.isEmpty(pratos)}" class="bg-red-100 text-red-600 p-4 rounded-2xl shadow">
          Nenhum prato disponível para suas restrições 😢
        </div>

        <div th:each="prato : ${pratos}" class="bg-white rounded-2xl shadow-md p-6 mb-4">
          <h2 class="text-xl font-bold text-gray-800" th:text="${prato.nome}"></h2>
          <p class="text-gray-600 mt-2">
            Ingredientes:
            <span th:each="ing : ${prato.ingredientes}"
              class="inline-block bg-indigo-100 text-indigo-700 px-2 py-1 rounded-full text-sm mr-2 mb-2"
              th:text="${ing.nome}"></span>
          </p>
        </div>
      </div>
    </section>
</body>

</html>

</main>

<footer th:replace="~{modules/footer :: footer}"></footer>

</body>

</html>