<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta author="Rafael Serafin Sousa">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistema de telas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

  <link rel="stylesheet" href="css/styleCad.css" type="text/css" media="all">
  
  </head>
  <body>

    <!-- inicio nav bar -->

     <nav class="navbar navbar-expand-lg" style="background-color: #9773a196;" data-bs-theme="light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="img/gato-preto.png" alt="icone" width="48" style="margin: -10px 10px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cadastrar">Cadastro</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- final nav bar -->
<!-- cadastro -->
 <form method="post">
  <div class="container">
    <div class="row">
    <h1>Cadastro</h1>
        <hr>
            <div class="col-12">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Nome Completo</span>
                <input type="text" name="nome" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
            </div>
          </div>
<!--------------------------------------------------->
            <div class="col-12">
              <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">CPF</span>
                <input type="text" name="cpf" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="000.000.000-00" minlength="14" maxlength="14" required>
              </div>
            </div>

            <div class="col-12">
              <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">email</span>
                <input type="telefone" name="email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="user@email.com" required>
              </div>
                   <button type="submit" class="btn btn-primary">cadastrar</button>
              </div>
</form>
   


<!-- cadastro -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>