<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Confirmar exclusão de <span th:text="${usuario.nome}"></span></h1>
    <form th:action="@{/excluirUsuario}" method="get">
        <input type="hidden" name="idPessoa" th:value="${usuario.idPessoa}" />
        <button type="submit" class="btn btn-danger">Excluir</button>
        <a href="/listar" class="btn btn-secondary">Cancelar</a>
    </form>
</body>
</html>