<!doctype html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org" xmlns:layout="https://ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta author="Rafael Serafin Sousa">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" th:href="@{css/style.css}" type="text/css" media="all">
    <link rel="stylesheet" th:href="@{css/styleCadastro.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <header th:replace="modules/navbar :: navbar"></header>


    <main>
        <div class="container">
            <div class="container">
                <div class="row justify-content-center">
                    <h1>Cadastro</h1>
                    <hr>
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
                        <div class="p-3 bg-ligth text-center">
                            <span class="input-group-text" id="inputGroup-sizing-default">Nome Completo</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" required>
                        </div>
                    </div>
                    <!--------------------------------------------------->
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
                        <div class="p-3 bg-ligth text-center">
                            <span class="input-group-text" id="inputGroup-sizing-default">CPF</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" placeholder="000.000.000-00" minlength="14"
                                maxlength="14" required>
                        </div>
                    </div>

                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 ">
                        <div class="p-3 bg-ligth text-center">
                            <span class="input-group-text" id="inputGroup-sizing-default">telefone</span>
                            <input type="telefone" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" placeholder="(00)00000-0000" required>
                        </div>
                    </div>
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 ">
                        <div class="p-3 bg-ligth text-center">
                            <span class="input-group-text" id="inputGroup-sizing-default">email</span>
                            <input type="telefone" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" placeholder="user@email.com" required>
                        </div>
                    </div>
                    <!-- --------------------------------------------- -->
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
                        <div class="p-3 bg-ligth text-center">
                            <span class="input-group-text" id="inputGroup-sizing-default">Endereço</span>
                            <input type="telefone" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" required>
                        </div>
                    </div>
                    <!-- --------------------------------------------- -->
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 ">
                        <div class="p-3 bg-ligth text-center">
                            <span class="input-group-text" id="inputGroup-sizing-default">Endereço</span>
                            <input type="telefone" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" required>
                        </div>
                    </div>
                    <!-- --------------------------------------------- -->
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
                        <div class="p-3 bg-ligth text-center">
                            <span class="input-group-text" id="inputGroup-sizing-default">Endereço</span>
                            <input type="telefone" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" required>
                        </div>
                    </div>
                    <!-- --------------------------------------------- -->
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
                        <div class="p-3 bg-ligth text-center">
                            <span class="input-group-text" id="inputGroup-sizing-default">Endereço</span>
                            <input type="telefone" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-default" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>





    <footer th:replace="modules/footer :: footer"></footer>

    <!-- script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>